body{
	font-family: 'Open Sans', sans-serif;
}
.page-container{
	width:1020px;
	margin: 0 auto;	
}
.header{
	background-color:#178efd; 
	background:url(../images/texture.jpg) no-repeat;
}
.logo{
	float:left;
}
.main-menu{
	clear:both;
	color:white;
	
}
.main-menu a:hover{
	color:#0cf2ef;
}
.menu-options{
	float:right;
}
p{
	color:white;
	font-family:"base4",Georgia,Serif;
}
.btn-main {
	border:1px solid #3759c9;
	border-radius: 3px;
	color:#ebebeb;
	cursor:pointer;
	display:inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size:16px; 
	text-align:center;
	text-shadow: 0px 1px #3759c9;
	padding-top: 3px;
	padding-bottom: 3px;
	min-width:170px;
	margin: 14px;  
	box-shadow:0px 0px 8px rgba(55, 89, 201, 0.25);
	background: #7390f0; /* Old browsers */
	background: -moz-linear-gradient(top, #7390f0 0%, #3759c9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7390f0), color-stop(100%,#3759c9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7390f0 0%,#3759c9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7390f0 0%,#3759c9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7390f0 0%,#3759c9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7390f0 0%,#3759c9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7390f0', endColorstr='#3759c9',GradientType=0 ); /* IE6-9 */

	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	/* ...and now for the proper property */
 	 transition:.2s;
}

.btn-main:hover {
	border: 1px solid #2e4bab;
	box-shadow:0px 0px 15px rgba(55, 89, 201, 0.8);
}
.btn-main:active{
	background: #3759c9; /* Old browsers */
	background: -moz-linear-gradient(top, #3759c9 0%, #7390f0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3759c9), color-stop(100%,#7390f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3759c9 0%,#7390f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3759c9 0%,#7390f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3759c9 0%,#7390f0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3759c9 0%,#7390f0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3759c9', endColorstr='#7390f0',GradientType=0 ); /* IE6-9 */
}
.social-media{
	color:white;
}
.carousel-container { 
    margin: 5px auto; 
    position: relative; 
    padding: 10px; 
}
#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
.events{ 
	line-height:140px;
	color:white;
	text-align: center;
}
body{
	background-color:#0978cd;
}
.freelancer{
	color:white;
	text-align:center;
}
#twitter-feed{
	position: relative;
	left:60px;
}
